$c-brand-1: #403432;
$c-brand-2: #5B3A32;
$c-brand-3: #776763;
$c-brand-4: #C1B4B1;

$c-bg-1: #F6F3F3;
$c-bg-2: #ECEAEA;

$c-border-1: #B5B5B5;
$c-border-2: #E1E1E1;

$c-text-1: #343030;
$c-text-2: #555555;
$c-text-3: #9F9F9F;
$c-text-4: #A0A0A0;
$c-text-5: #F4F6F9;
