footer.footer
    .container
        +menu('images/logo2.svg')
        .footer__info
            .footer__info-item
                a.footer__info-link(href='tel:+74955555555')
                    svg
                        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#phone")
                    span +7 (495) 555-55-55
            .footer__info-item
                svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#map-pin")
                span г. Москва, ул. Расплетина, 24
