mixin menu(logo)
    nav.menu
        ul.menu__list
            li.menu__item
                a.menu__link(href='#')
                    img.menu__logo(src=logo)
            li.menu__item
                a.menu__link(href='#') Каталог
            li.menu__item
                a.menu__link(href='#') Доставка
            li.menu__item
                a.menu__link(href='#') Оплата
            li.menu__item
                a.menu__link(href='#') Контакты
            li.menu__item
                a.menu__link(href='#') О галерее
