extends ../layouts/default

include ../blocks/search-form
include ../blocks/button

block append head
    title  ui-kit

block append content
    .container
        .ui-kit
            h1 UI-kit

            h2 Шрифт: Merriweather
            .h1 H1 - 24px bold, int. 36
            .h2 H2 - 18px regular, int. 27
            .h3 H3 - 16px bold, int. 24
            .h4 H4 - 14px bold, int. 21
            .h5 H5 - 14px regular, int. 21
            .h6 H6 - 14px light, int. 21

            h2 Кнопки
            .ui-kit__buttons
                +button('Нормал')
                +button()(disabled)
                    svg.button__spinner
                        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#spinner")
                +button()(data-added)
                    svg.button__icon
                        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#check-mark")
                    span В корзине

            h2 Поиск
            +search-form('Поиск по названию картины', 'Найти')